<div class="help">

  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
	<span id="main-title">Secure Shell Credits</span>
	<span class="version" id="version">v0.0.1</span>
      </div>
      <div class="subtitle" id="subTitle">Presented by WebOS Internals</div>
    </div>
  </div>

  <ul>
    <li>Rod Whitby (rwhitby)<br/>for code contributions.</li>
    <li>Brandon VanBelle (oil)<br/>for code contributions.</li>
  </ul>

  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
